@page
@model IndexModel
@using static MyPWS.Models.extensions.NumericExtensions
@{
	ViewData["Title"] = "Home page";
}
@foreach (var pws in Model.Weather.Keys)
{
	<div class="container center">
		<h1>@pws.Id</h1>
		<h2>@pws.Name</h2>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Last update</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].DateUtc.Value.ToLocalTime()
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Barometric pressure</div>
			</div>
			<div class="col-sm-2">

				@Model.Weather[pws].Baromhpa.ToTwoDecimalPrecision("hPa")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Out temperature</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Tempc.ToTwoDecimalPrecision("C")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Out humidity</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Humidity  %
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Indoor temperature</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Indoortempc.ToTwoDecimalPrecision("C")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Indoor humidity</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Indoorhumidity %
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Wind dir</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Winddir
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Wind speed</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Windspeedkmh.ToTwoDecimalPrecision("km/h")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Wind gust speed</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Windgustkmh.ToTwoDecimalPrecision("km/h")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Rain</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Rainmm.ToTwoDecimalPrecision("mm /h")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">Daily rain</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Dailyrainmm.ToTwoDecimalPrecision("mm/24h")
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<div class="font-weight-bold">UV</div>
			</div>
			<div class="col-sm-2">
				@Model.Weather[pws].Uv
			</div>
		</div>
	</div>
}
